# Build
build/
cmake-cache/
cmake_install.cmake
CMakeFiles/

# Saídas da simulação
estadio-*.csv
estadio-*.xml

# Python
__pycache__/
*.pyc
*.txt
*.png
# Editor
.vscode/
*.swp
*~
plot_estadio.py
topologia.py